<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <title>Cootradelsol</title>
</head>
<body>
    <nav>
        <div class="logo-container">
            <img src="img/LOGO.png" alt="Logo Cootradelsol" class="logo">
            <h1 class='cootra'><em>Cootradelsol</em></h1>
        </div>
        <ul class="lista-nav">
            <ol><a href="#nosotros">Nosotros</a></ol>
            <ol><a href="#servicios">Nuestros servicios</a></ol>
            <ol><a href="#rutas">Nuestras rutas</a></ol>
        </ul>
    </nav>

    <div class="hero-section">
        <h1>Bienvenido a la cooperativa de transportadores del sol <br>"Cootradelsol"</h1>
    </div>
<!--Div para carrusel de imagenes-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/petrobras.png" alt="Imagen de petrobras" class="img-carrusel">
            </div>
            <div class="carousel-item activate">
                <img src="img/aquitania.jpg" alt="Parque principal de Aquitania" class="img-carrusel">
            </div>
            <div class="carousel-item activate">
                <img src="img/Duitama.jpg" alt="Parque los libertadores-Duitama" class="img-carrusel">
            </div>
            <div class="carousel-item activate">
                <img src="img/tunja.jpg" alt="Parque bolivar-tunja" class="img-carrusel">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div> <!--Fin del div para el carrusel de fondos-->
<!--Info de la empresa-->
    <div id="nosotros">
        <h1 class="section-title">Nosotros</h1>
        <div class="linea"></div>
        <div class="e">
            <section class="card">
                <h2 class="card-title">Misión</h2>
                <p class="card-text">Ofrecer un óptimo servicio de transporte de pasajeros, en todo tipo de vehículos
                    con radio de accion municipal y nacional, a fin de satisfacer las necesidades y 
                    requerimientos del publico en general; orientando a cumplir con los estandares 
                    y reglamentaciones de seguridad, cumplimiento y calidad.
                </p>
            </section>
            <section class="card">
                <h2 class="card-title">Visión</h2>
                <p class="card-text">Posicionar a la cooperativa de transportadores del sol "COOTRADELSOL" como lider
                    en el cumplimiento de las rutas y servicios que posea; asi mismo que pueda incursionar
                    en rutas adicionales a nivel municipal y nacional, adicionando servicios especiales y de carga. 
                </p>
            </section>
        </div>
    </div>
<!--Servicios de la empresa-->
    <div id="servicios">
        <h1 class="section-title">Nuestros servicios</h1>
        <div class="linea"></div>
        <div class="servicios">
            <section class="card" style="width: 18rem;">
                <h3>Servicio de Microbus urbano</h3>
                <p class="card-text">En cootradelsol contamos con el servicio de microbus urbano en la ciudad de sogamoso, teniendo en cuenta
                    las necesidades de Nuestros usuarios.
                </p>
                <img src="img/Microbus urbano.jpg" alt="mircrobus urbano" class="card-img-top">
            </section>
            <section class="card" style="width: 18rem;">
                <h3>Servicio intermunicipal</h3>
                <p class="card-text">En cootradelsol te ofrecemos servicio intermunicipal con despachos para Aquitania, Duitama y Tunja.</p>
                <img src="img/Intermunicipales.jpg" alt="bus intermunicipal" class="card-img-top">
            </section>
            <section class="card" style="width: 18rem;">
                <h3>Servicio de taxi</h3>
                <p class="card-text">Nuestro servicio de taxis cuenta con app, para que los usuarios puedadn solicitar
                    el servicio de taxis desde donde se encuentren.
                </p>
                <img src="img/taxi.png" alt="taxi" class="card-img-top">
            </section>
        </div>
    </div>
<!--Rutas de la empresa-->
    <div id="rutas">
        <h1 class="section-title">Nuestras rutas</h1>
        <div class="linea"></div>
        <div class="rutas">
            <!--Rutas urbanas-->
            <h4 class="titulo-ruta">Ruta 1C</h4>
            <div class="contenedor-rutas">
                <section class="ruta ruta1c">
                    <h5 style="color: white;"><strong>Ida</strong></h5>
                    <ul>
                        <li>U.P.T.C Cra 18</li>
                        <li>Terminal</li>
                        <li>Éxito - 6 de Sept</li>
                        <li>Iwoka - Uniboyacá</li>
                        <li>SENA</li>
                        <li>Colegio<br>Gustavo Jiménez</li>
                    </ul>
                </section>

                <section class="ruta ruta1c-2">
                    <h5 style="color: white;"><strong>Regreso</strong></h5>
                    <ul>
                        <li>Laguito</li>
                        <li>6 de Sept</li>
                        <li>Carrera 10</li>
                        <li>P/la villa</li>
                        <li>Terminal - Cra 18</li>
                        <li>U.P.T.C</li>
                    </ul>
                </section>
            </div>
<!--Rutas intermunicipales-->
            <h4 class="titulo-ruta" style="margin-top: 60px;">Rutas Intermunicipales</h4>

            <div class="info-intermunicipales">
                <h5 class="titulo-intermunicipales">Sogamoso - Aquitania</h5>
                <div class="sogamoso-aquitania">
                    <img src="img/aquitania.jpg" alt="Aquitania" class="imagen-destino">
                    <div class="horarios">
                        <h6>Horario</h6>
                        <p>06:45 am - 07:30 am - 08:15 am - 09:00 am - 09:45 am</p>
                        <p>10:30 am - 11:15 am - 12:00 pm - 12:45 pm - 01:30 pm</p>
                        <p>02:15 pm - 03:00 pm - 03:45 pm - 04:30 pm - 05:15 pm</p>
                        <p>06:00 pm - 06:45 pm</p>
                    </div>
                </div>
            </div>

            <div class="info-intermunicipales">
                <h5 class="titulo-intermunicipales">Sogamoso - Duitama</h5>
                <img src="img/Duitama.jpg" alt="Duitama" class="imagen-destino">
            </div>

            <div class="info-intermunicipales">
                <h5 class="titulo-intermunicipales">Sogamoso - Tunja</h5>
                <img src="img/tunja.jpg" alt="Tunja" class="imagen-destino">
            </div>
        </div>
    </div>
<!--Footer de la pagina-->
    <footer>
        <section class="section-1-footer">
            <img src="img/LOGO.png" alt="logo cootradelsol" class="logo">
            <h3 class="footer-title"><em>Cootradelsol</em></h3>
            <p>Cooperativa de transportadores del sol</p>
            <p>Nit: 891855325-0</p>
            <div class="redes-footer">
                <a href="https://www.facebook.com/cootradelsol">
                    <img src="img/facebook.png" alt="facebook" width="30">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="img/instagram.png" alt="instagram" width="32">
                </a>
            </div>
        </section>

        <section class="section-2-footer">
            <h6>Radiotaxi</h6>
            <p>318 155 5555 - 315 955 5555<br>310 200 2222 - 324 727 2222</p>
            <img src="img/whatsapp.png" alt="whatsapp" width="30">
            <p>313 485 3879</p>
            <h6>Dirección</h6>
            <p>Carrera 12 N° 46-86<br>Sogamoso - Boyacá</p>
        </section>
    </footer>
</body>
</html>