<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de coductores de taxi</title>
</head>
<body>
    <h1>Lista de conductores de taxi</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento de identidad</th>
            <th>Licencia de conducir</th>
        </tr>
        <!-- Aquí se agregarían las filas con los datos de los conductores -->
    </table>
</body>
</html>