<!DOCTYPE html>

<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin_cosol/css/vehiculos.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <title>Cootradelsol</title>
</head>
<body>
<!-- Navegador del sitio -->
    <nav>
        <div class="logo-container">
            <img src="{% static 'admin_cosol/img/logo.png' %}" alt="Logo Cootradelsol" class="logo">
            <h1 class='cootra'><em>Cootradelsol</em></h1>
        </div>
        <ul class="lista-nav">
            <ol><a href="#nosotros">Nosotros</a></ol>
            <ol><a href="#servicios">Nuestros servicios</a></ol>
            <ol><a href="#rutas">Nuestras rutas</a></ol>
        </ul>
    </nav>
    <!-- lista de vehiculos-->
    <div class="container mt-5">
        <h2 class="mb-4">Vehículos en venta</h2>
        <table border="1" class="table table-striped" cellspacing="0" cellpadding="7">
            <thead>
                <tr>
                    <th>Tipo de vehículo</th>
                    <th>Precio de venta</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Capacidad</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculo in Vehiculos %}
                <tr>
                    <td>{{ vehiculo.tipo_vehiculo }}</td>
                    <td>{{ vehiculo.precio }}</td>
                    <td>{{ vehiculo.marca }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>{{ vehiculo.capacidad }}</td>
                    <td>{{ vehiculo.descripcion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>